<?xml version="1.0"?>
<model>
  <name>Quadrotor F450 thermal</name>
  <version>1.0</version>
  <sdf version="1.5">quad_f450_thermal.sdf</sdf>

  <author>
   <name>Miguel Saavedra</name>
   <email>miguel.saaruiz@gmail.com</email>
  </author>

  <description>
    This is a model of the DJI F450 with a thermal camera and a monocular camera attached to its chasis.
  </description>
</model>
